.task {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.75rem;
  height: 4.5rem;
  background: var(--gray-500);
  padding: 0px 1rem;
  border-radius: 8px;
}

.task input {
  width: 1.5rem;
  height: 1.5rem;
}

.task p {
  color: var(--gray-100)
}
.task button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.task button svg {
  color: var(--gray-300)
}