.newTask {
  height: 3.375rem;
  display: flex;
  width: 100%;
  gap: 8px;
}

.newTask input {
  flex: 1;
  height: 100%;
  background: var(--gray-500);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding-left: 1rem;
}

button {
  width: 5.625rem;
  background: var(--blue);
  color: var(--gray-100);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: .875rem;
  
}