.tasks {
  margin-top: 4rem;
}
.tasksInfo {
  display: flex;
  justify-content: space-between;
}
.tasksInfoContainer {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.875rem;
}

.tasksInfoTitleCreated {
  color: var(--blue);
}

.tasksInfoTitleDone{
  color: var(--purple)
}
.taskInfoCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-200);
  background: var(--gray-400);
  border-radius: 999px;
  /* width: 1.563rem; */
  padding: 2px 8px;
  font-size: 0.75rem;
}