.tasksInfoContainer {
  font-weight: bold;
  display: flex;
  gap: 8px;
  font-size: 0.875rem;
}

.blue {
  color: var(--blue);
}

.purple {
  color: var(--purple)
}

.taskInfoCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-200);
  background: var(--gray-400);
  border-radius: 999px;
  width: 1.563rem;
  font-size: 0.75rem;
}