.newTask {
  height: 3.375rem;
  display: flex;
  width: 100%;
  gap: 8px;
  margin-top: calc(0px - 3.375rem / 2)
}

.newTask input {
  flex: 1;
  height: 100%;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  font-size: 1rem;
  padding-left: 1rem;
}

.newTask button {
  width: 5.625rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: .875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
}